@{
    ViewBag.Title = "Julie McFadden";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    10017 Bentley Way<br />
    Tampa, FL 33626<br />
    <abbr title="Phone">P:</abbr>
    501.772.7470
</address>

<address>
    <strong>Email:</strong><span style="margin-left: 20px;"><a href="mailto:she@juliemcfadden.com">she@juliemcfadden.com</a></span><br />
    <strong>Web:</strong><span style="margin-left: 27px;"><a href="http://www.juliemcfadden.com">www.juliemcfadden.com</a></span>
</address>