@{
    ViewBag.Title = "Landing Page";
}

<div class="jumbotron">
    <h1>Julie McFadden</h1>
    <p class="lead">Reservations.com Code Challenge</p>
    <p><a href="http://www.juliemcfadden.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>Database Schema Diagram, SQL Scripts, etc.</p>
        <p><a class="btn btn-default" href="/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administration</h2>
        <p>The internal user view of the data, including some basic reports</p>
        <p><a class="btn btn-default" href="/Home/Admin">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reservations</h2>
        <p>The external user view of the application</p>
        <p><a class="btn btn-default" href="/Reservation/Index">Learn more &raquo;</a></p>
    </div>
</div>